include COPYING
include NEWS
include README.rst
include MANIFEST.in
include tests/data/*
include tests/*.py
include man/*.1
include docs/Makefile
include docs/*.py
include docs/*.rst
include docs/images/*.svg
include docs/images/*.png
include docs/api/*.rst
include docs/man/*.rst
include docs/man/Makefile
