include COPYING
include NEWS
include README.rst
include .mypy.ini
include .flake8
include MANIFEST.in
include tests/data/*
include tests/*.py
include man/*.1
recursive-include mutagen *.pyi *.typed
recursive-include mutagen README.rst
recursive-include docs *.py Makefile *.rst *.png *.svg *.ico *.css
prune docs/_build
