[tool.poetry]
name = "mutagen"
version = "1.47.1"
description = "read and write audio tags for many formats"
authors = []

[tool.poetry.dependencies]
python = "^3.8.1"

[tool.poetry.dev-dependencies]
pytest = "^8.2"
hypothesis = "^6.50.1"
flake8 = "^7.1.0"
mypy = "1.10.1"
coverage = "^7.2.5"
Sphinx = "^7.1"
sphinx-rtd-theme = "^2.0.0"
sphinx-autobuild = "^2021.3.14"
setuptools = "^70.1.1"

[tool.poetry.group.fuzzing]
optional = true

[tool.poetry.group.fuzzing.dependencies]
python-afl = "^0.7.3"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.coverage.run]
include=["mutagen/*", "tests/*"]
