name: test

on: [push, pull_request]

jobs:

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8, 3.9, pypy-3.7]
        exclude:
          # hangs
          - os: macos-latest
            python-version: pypy-3.7
          - os: windows-latest
            python-version: pypy-3.7
        include:
          - os: ubuntu-latest
            pip-cache: ~/.cache/pip
            poetry-cache: ~/.cache/pypoetry
          - os: macos-latest
            pip-cache: ~/Library/Caches/pip
            poetry-cache: ~/Library/Caches/pypoetry
          - os: windows-latest
            pip-cache: ~\AppData\Local\pip\Cache
            poetry-cache: ~\AppData\Local\pypoetry\Cache
          - os: ubuntu-latest
            python-version: 3.6
            build-docs: true
          - os: ubuntu-latest
            python-version: 3.8
            build-docs: true
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/cache@v2
      with:
        path: |
          ${{ matrix.pip-cache }}
          ${{ matrix.poetry-cache }}
        key: ${{ runner.os }}-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade poetry
        poetry install
    - name: Run tests
      run: |
        poetry run coverage run --branch setup.py test
        poetry run coverage xml -i
    - name: Run mypy
      # mypy fails to install
      if: matrix.python-version != 'pypy-3.7'
      run: |
        poetry run mypy .
    - name: Run flake8
      run: |
        poetry run flake8
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
    - name: Build docs
      if: matrix.build-docs
      run: |
        poetry run sphinx-build -W -a -E -b html -n docs docs/_build