name: test

on: [push, pull_request]

jobs:

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14', 'pypy-3.11']
        exclude:
          # too slow
          - os: macos-latest
            python-version: pypy-3.11
          - os: windows-latest
            python-version: pypy-3.11
        include:
          - os: ubuntu-latest
            pip-cache: ~/.cache/pip
            uv-cache: ~/.cache/uv
          - os: macos-latest
            pip-cache: ~/Library/Caches/pip
            uv-cache: ~/.cache/uv
          - os: windows-latest
            pip-cache: ~\AppData\Local\pip\Cache
            uv-cache: ~\AppData\Local\uv\cache
          - os: ubuntu-latest
            python-version: 3.10
            build-docs: true
          - os: ubuntu-latest
            python-version: 3.12
            build-docs: true
            build-dist: true
          - python-version: 3.12
            run-mypy: true
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - uses: actions/cache@v4
      with:
        path: |
          ${{ matrix.pip-cache }}
          ${{ matrix.uv-cache }}
        key: ${{ runner.os }}-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        pipx install uv build
        uv sync
    - name: Run tests
      run: |
        uv run coverage run --branch setup.py test
        uv run coverage xml -i
    - name: Run mypy
      if: matrix.run-mypy
      run: |
        uv run mypy .
    - name: Run flake8
      run: |
        uv run flake8
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
    - name: Build docs
      if: matrix.build-docs
      run: |
        uv sync --group docs
        uv run sphinx-build -W -a -E -b html -n docs docs/_build
    - name: Build dist
      if: matrix.build-dist
      run: |
        pyproject-build
    - name: Upload dist
      if: matrix.build-dist
      uses: actions/upload-artifact@v5
      with:
        name: dist
        path: dist/*
